---
import { SITE } from "@config";
// import { Debug } from "astro/components";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
// import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import slugify from "@utils/slugify";
import { getCollection } from "astro:content";
import { getSortedPostsByYear } from "@utils/utils";
import dayjs from "dayjs";
// export interface Props {
//   pageNum: number;
//   totalPages: number;
//   posts: CollectionEntry<"blog">[];
// }

// const { pageNum, totalPages, posts } = Astro.props;

// const prev = pageNum > 1 ? "" : "disabled";
// const next = pageNum < totalPages ? "" : "disabled";
// const archived = await Astro.glob("../content/blog/archive/*.md");
const archived = await getCollection("blog", a =>
  a.slug.startsWith("archive/")
);

// const posted = (await Astro.glob("../content/blog/*.md"))
//   ? await Astro.glob("../content/blog/*.md")
//   : [];

const posted = await getCollection("blog", a => a.slug.startsWith("article/"));

// const archivedSortedPostsByYear = getSortedPostsByYear(archived);
const archivedSortedPostsByYear = getSortedPostsByYear(archived);
const postedSortedByYear = getSortedPostsByYear(posted);
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="Posts" pageDesc="My Articles">
    <!-- <Debug getSortedPosts={postedSortedByYear["2023"]} /> -->
    <!-- <Debug getSortedPosts={archivedSortedPostsByYear2} /> -->

    <div>
      {
        Object.keys(postedSortedByYear)
          .sort((a, b) => b.localeCompare(a))
          .map(year => (
            <div class="pt-0.5">
              <span class="year">{year}</span>
              {postedSortedByYear[year].map(post => (
                <div>
                  <div class="flex items-center pt-3 font-normal" m="y-4 x-0.8">
                    <div class="w-18" text="sm gray-500">
                      {dayjs(post.data.pubDatetime).format("MM/DD")}
                    </div>
                    <LinkButton
                      className="hover:text-skin-primary text-skin-base"
                      href={`/posts/${slugify(post.data)}`}
                    >
                      <p class="posted-title">{post.data.title}</p>
                    </LinkButton>
                  </div>
                  <div class="posted-desc" text="gray-400">
                    {post.data.description}
                  </div>
                </div>
              ))}
            </div>
          ))
      }
    </div>
    <div class="pt-6">
      <hr class="split-line pt-6" aria-hidden="true" />
    </div>
    <div>
      <div class="flex:auto">
        <span class="ph3i">Archived</span>
      </div>

      {
        Object.keys(archivedSortedPostsByYear)
          .sort((a, b) => b.localeCompare(a))
          .map(year => (
            <div>
              <span class="year">{year}</span>
              {archivedSortedPostsByYear[year].map(post => (
                <div class="flex items-center font-normal" m="y-2 x-0.8">
                  <div class="w-18" text="sm gray-500">
                    {dayjs(post.data.pubDatetime).format("MM/DD")}
                  </div>
                  <LinkButton
                    className="hover:text-skin-primary text-skin-base"
                    href={`/posts/${slugify(post.data)}`}
                  >
                    <p class="archived-title">{post.data.title}</p>
                  </LinkButton>
                </div>
              ))}
            </div>
          ))
      }
    </div>
  </Main>

  <style>
    .pagination-wrapper {
      @apply mb-8 mt-auto flex justify-center;
    }
    .disabled {
      @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
    }
    .disabled-svg {
      @apply group-hover:!fill-skin-base;
    }
  </style>
</Layout>
